/* Breadcrumb navigation */
ul.breadcrumbs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

ul.breadcrumbs > li {
	display: inline-block;
	margin-right: 1rem;
}

ul.breadcrumbs > li:not(:last-child):after {
	content: "➤";
	margin-left: 1rem;
	font-size: 0.25rem;
}

ul.breadcrumbs > li.current {
	font-weight: bold;
}

ul.breadcrumbs > li.unavailable {

}

/* Fieldsets */
fieldset {
	margin-top: 0;
}

/* Buttons and Links styled as Buttons */
a.button,
a.button.alert,
a.button.success,
a.button.secondary,
a.button.info,
a.button.disabled {
	border-radius: 0;
}